<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <body>
  <title>Web Tier OK</title>
  <\body>
</head>
<body>
    <p>Web tier is successfully configured by Ansible!</p>
    <p>Try: <code>curl http://localhost/api</code></p>
</body>
</html>