---
- name: Install nginx
  ansible.builtin.apt:
    name: nginx
    state: present
    update_cache: true

- name: Allow HTTP in UFW
  community.general.ufw:
    rule: allow
    name: "Nginx HTTP"

- name: Deploy site index.html
  ansible.builtin.template:
    src: index.html.j2
    dest: /var/www/html/index.html
    owner: www-data
    group: www-data
    mode: "0644"
  notify: Reload nginx

- name: Deploy nginx configuration
  ansible.builtin.template:
    src: nginx.conf.j2
    dest: /etc/nginx/sites-available/lab.conf
    owner: root
    group: root
    mode: "0644"
  notify: Reload nginx

- name: Enable lab nginx site
  ansible.builtin.file:
    src: /etc/nginx/sites-available/lab.conf
    dest: /etc/nginx/sites-enabled/lab.conf
    state: link
  notify: Reload nginx

- name: Disable default nginx site
  ansible.builtin.file:
    path: /etc/nginx/sites-enabled/default
    state: absent
  notify: Reload nginx

- name: Ensure nginx is running
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: true
