name: Terraform - Foundation

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - "foundation/**"
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      TF_VAR_my_ip_cidr: ${{ secrets.TF_VAR_my_ip_cidr }}

    defaults:
      run:
        shell: bash
        working-directory: foundation

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform fmt (check)
        run: terraform fmt -check -recursive

      - name: Terraform init
        run: terraform init -input=false

      - name: Terraform validate
        run: terraform validate

      - name: Terraform plan
        run: terraform plan -input=false -no-color

      # No apply step here on purpose.
      # You apply foundation manually using the "Run workflow" button in GitHub Actions.
